div{
    height:300px;
    width:300px;
    border:2px;
}
    #outer{  
    
    display:flex;
    justify-content:center;
    flex-direction: column;
    height:600px;
    width:300px;
    border: 2px;
}
#one{
    background-color:aliceblue;
}
#two
{
    background-color: rgb(64, 156, 156)
}
#three
{ background-color: aquamarine;
}